@keyframes rotate-coin-3d {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes move-horizontal {
  0% {
    left: 100%; }
  100% {
    left: -100%; } }

@keyframes troll-walk {
  from {
    background-position-x: 0px; }
  to {
    background-position-x: -1207px; } }

.coin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform-style: preserve-3d;
  position: absolute;
  animation-duration: 1s, 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .coin__face {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%; }
    .coin__face--back {
      transform: translateZ(-10px); }
  .coin--gold .coin__face {
    background-image: url("../images/gold_coin.png"); }
  .coin--silver .coin__face {
    background-image: url("../images/sliver_coin.png"); }

.heart {
  width: 100px;
  height: 100px;
  background-image: url("../images/heart.png");
  position: absolute;
  background-size: contain;
  background-repeat: round;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

.obstacle {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

.bgcontainer, .bg__layer1, .bg__layer2, .bg__layer3, .bg__layer5 {
  background-size: cover;
  background-position: 1366 0;
  background-repeat: repeat-x; }

.bg__layer1 {
  background-image: url(../images/layer1.png);
  position: relative;
  bottom: 50px; }

.bg__layer2 {
  background-image: url(../images/layer2.png); }

.bg__layer3 {
  background-image: url(../images/layer3.png); }

.bg__layer5 {
  background-image: url(../images/layer5.png);
  height: 707px; }

.troll {
  position: absolute;
  background-size: cover;
  animation-timing-function: linear, steps(6);
  animation-duration: 10s, 0.5s;
  animation-iteration-count: infinite; }
