@import 'abstracts/_variables.scss';
@import 'abstracts/_functions.scss';
@import 'abstracts/_mixins.scss';
@import 'abstracts/_placeholders.scss';
@import 'abstracts/_utilities.scss';

@import 'base/_base.scss';
@import 'base/_reset.scss';
@import 'base/_animations.scss';


@import 'components/collectable';
@import 'components/_obstacle.scss';
@import 'components/_bgimg.scss';





// @import 'vendors/*';
// @import 'base/*';
// @import 'layout/*';
// @import 'components/*';
// @import 'pages/*';
// @import 'themes/*';