.bgcontainer {
    background-size: cover;
    background-position: 1366 0;
    background-repeat: repeat-x;
}

.bg {
   
    height: 100vh;

    &__starts {
        @extend .bgcontainer;
        background-image: url(../images/layer1.png);
        position: relative;
        bottom: 50px;
    }
    &__clouds {
        @extend .bgcontainer;
        background-image: url(../images/layer2.png);
    }
    &__mountaines {
        background-image: url(../images/layer3.png);
        @extend .bgcontainer;
    }

    &__ground {
        background-image: url(../images/layer5.png);
        height: 707px;
        // position: relative;
        //  bottom: 50px;
        @extend .bgcontainer;
    }
}