.bgcontainer {
    background-size: 100% 100%;
   background-repeat: repeat-x;
}

.bg {
    height: 100vh;
    &__starts {
        @extend .bgcontainer;
        background-image: url(../images/layer1.png);
        animation: bg 2s infinite linear;
        position: relative;
        bottom: 55px;
    }
    &__clouds {
        @extend .bgcontainer;
        background-image: url(../images/layer2.png);
        animation: bg 2s infinite linear;
    }
    &__mountaines {
        background-image: url(../images/layer3.png);
        @extend .bgcontainer;
        animation: bg 2s infinite linear;
      
    }
    &__ground {
        background-image: url(../images/layer5.png);
        height: 800px;
        @extend .bgcontainer;
        animation: bg 1s infinite linear;
        position: relative;
        bottom: 75px;
    }
}