.bgcontainer {
    background-size: contain;
    background-position: 1366 0;
    background-repeat: repeat-x;
    // height: inherit;
    
}

.bg {
    height: 100vh;
    &__layer1 {
        @extend .bgcontainer;
        background-image: url(../images/layer1.png);
        position: relative;
        bottom: 50px;
    }
    &__layer2 {
        @extend .bgcontainer;
        background-image: url(../images/layer2.png);
    }
    &__layer3 {
        background-image: url(../images/layer3.png);
        @extend .bgcontainer;
    }
    // &__layer4 {
    //     background-image: url(../images/layer4.png);
    //     @extend .bgcontainer;
    // }
    &__layer5 {
        background-image: url(../images/layer5.png);
        height: 707px;
        @extend .bgcontainer;
    }
}