.hero{
    height: 254px;
    width: 300px;
    /* background: url("Run-Stripe.png") 0px 0px; */
    // transform: scale(0.5);
    position: absolute;
    // top: calc(560px - 254px);
    left: -50px;
}