.obstacle{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: $velocity;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    &--rock{
        &--1{
            background-image: url(../images/rock1.png);
            width:400px;
            height: 400*0.277px;
        }
        &--2{
            background-image: url(../images/rock2.png);
            width:300px;
            height: 300*0.351px;
        }
        &--3{
            background-image: url(../images/rock3.png);
            width:300px;
            height: 300*0.3687px;
        }
    }
    &--cactus{
        &--1{
            background-image: url(../images/cactus1.png);
            width:200px;
            height: 200*0.8031px;
        }
        &--2{
            background-image: url(../images/cactus2.png);
            width:100px;
            height: 100*1.054px;
        }
    }
    &--enemy{
        background-size: cover;
        animation-timing-function:linear, steps(6);
        animation-duration:$velocity, $troll-walk-speed;
        animation-iteration-count: 1,infinite ;
        background-image: url("../images/trolls.png");
        background-position: '0 0';
        width: 200px;
        height: 0.73*200px;
    }
}
