.troll{
    position: absolute;
    background-size: cover;
    animation-timing-function:linear, steps(6);
    animation-duration:$velocity, $troll-walk-speed;
    animation-iteration-count: infinite;
}